<ul>
  <li><span><b>1st RULE:</b> You do not talk about FIGHT CLUB.</span></li>
  <li><span><b>2nd RULE:</b> You DO NOT talk about FIGHT CLUB.</span></li>
  <li><span><b>3rd RULE:</b> If someone says "stop" or goes limp, taps out the fight is over.</span></li>
  <li><span><b>4th RULE:</b> Only two guys to a fight.</span></li>
  <li><span><b>5th RULE:</b> One fight at a time.</span></li>
  <li><span><b>6th RULE:</b> No shirts, no shoes.</span></li>
  <li><span><b>7th RULE:</b> Fights will go on as long as they have to.</span></li>
  <li><span><b>8th RULE:</b> If this is your first night at FIGHT CLUB, you HAVE to fight.</span></li>
</ul>
